@using Microsoft.AspNetCore.Identity
@using NetCoreApp.Extensions;

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{    
    var avataUrl = @User.GetSpecificClaim("Avatar").Length > 0 ? @User.GetSpecificClaim("Avatar") : "/admin/dist/img/no-avata.jpg";
    var fullName = @User.GetSpecificClaim("FullName").Length > 0 ? @User.GetSpecificClaim("FullName") : "";

<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   
        <img src="@avataUrl" class="user-image img-circle elevation-2" alt="@fullName">  
    <span class="d-none d-md-inline">@fullName</span>
</a>
<ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">   
    <li class="user-header bg-primary">        
            <img src="@avataUrl" class="img-circle elevation-2" alt="@fullName">
        <p>
            @fullName
            <small>Member since Nov. 2012</small>
        </p>
    </li>   
@*<li class="user-body">
<div class="row">
    <div class="col-4 text-center">
        <a href="#">Followers</a>
    </div>
    <div class="col-4 text-center">
        <a href="#">Sales</a>
    </div>
    <div class="col-4 text-center">
        <a href="#">Friends</a>
    </div>
</div>
    
</li>*@   
<li class="user-footer">
    <div class="form-group row">
        <div class="col-sm-6">
            <a href="#" class="btn btn-default btn-flat">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                Profile
            </a>
        </div>
        <div class="col-sm-6">
            <form action="/Admin/Account/Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-default btn-flat float-right">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Sign out
                </button>
            </form>
        </div>
    </div>
        
       
</li>
</ul>    
}